
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: #a6b1ac;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.todo-button {
  padding: 10px 15px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.delete-button {
  background: none;
  border: none;
  color: #d9534f;
  cursor: pointer;
}


                
              
              
              
              
              
.slide {
  animation-name: slide;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% {transform: translateX(0);}
  50% {transform: translateX(20px);}
  100% {transform: translateX(0);}
}
            
